  .wordle-Container{
    text-align: center;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
  }
  
  .game-board{
    margin-top: 3rem;
    align-self: center;
    position: relative;
  }
  .row{
    display: flex;
  }
  .input-element{
    margin: 0.12rem;
    width: 3rem;
    height: 3.5rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }
  .keyboard{
   margin-top: 5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .line1{
    width: min-content;
    display: flex;
    flex-direction: row;
  }
  .line2{
    width: min-content;
    display: flex;
    flex-direction: row;
  }
  .line3{
    width: min-content;
    display: flex;
    flex-direction: row;
  }
  .keyboard-button{
      border: 0.1rem solid white;
      width: 2.6rem;
      height: 3.3rem;
      font-size: 1.8rem;
      padding: .3rem;
      margin: .2rem;
  }
  #big{
    width: 7rem;
    justify-content: center;
    align-items: center;
  }
  #correct{
    background-color: green;
  }
  #close{
    background-color: rgb(162, 180, 2);
  }
  #error{
    background-color: rgb(114, 118, 114);
  }
  .result{
    margin-top: 20px;
  }
  #disabled{
    background-color: rgb(114, 118, 114);
  }
  .result{
    padding: 5px 15px;
    border-radius: 4%;
    background-color: rgb(249, 249, 249);
    color: blue;
    position: absolute;
    top: 410px;
  }
  .hide{
    display: none;
  }
  .toast-message{
    margin-top: 40px;
    background-color: rgb(15, 15, 109);
  }
  .wordle-nav{
    width: 40%;
   border-bottom: 1px solid rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
   margin: 0 auto;
  }
  .left-side .right-side>span{
    cursor: pointer;
  }
.box{
  border: 0.1rem solid grey;
  padding: 0.1rem;
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
  @media only screen and (max-width: 1000px) {
    .wordle-nav{
      width: 60%;
    }
    .keyboard-button{
      border: 0.1rem solid white;
      width: 2rem;
      height: 3rem;
      font-size: 1.5rem;
      padding: .2rem;
      margin: .2rem;
    }
    #big{
      width: 6rem;
      justify-content: center;
      align-items: center;
    }
    .input-element{
      margin: 0.1rem;
      width: 2.8rem;
      height: 3.5rem;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.7rem;
    }
    .wrapper{
      height: 25rem;
    }
    .Button{
      font-size: 1.3rem;
      line-height: 1.4rem;
      padding:  1rem 1rem;
    }
  }
  @media only screen and (max-width: 700px) {
    .wordle-nav{
      width: 100%;
    }
    .keyboard-button{
      border: 0.1rem solid white;
      width: 1.7rem;
      height: 2.2rem;
      font-size: 1.2rem;
      padding: .1rem;
      margin: .1rem;
    }
    #big{
      width: 4.5rem;
      justify-content: center;
      align-items: center;
    }
    .input-element{
      margin: 0.1rem;
      width: 2.5rem;
      height: 3rem;
      font-size: 2.2rem;
      border: 1px solid white;
    }
    .wrapper{
      height: 18rem;
    }
    .Button{
      font-size: 1rem;
      line-height: 1rem;
      padding:  0.8rem 0.8rem;
    }
  }
  @media only screen and (max-width: 480px) {
    .wordle-nav{
      width: 100%;
    }
    .keyboard-button{
      border: 0.1rem solid white;
      width: 1.7rem;
      height: 2.2rem;
      font-size: 1.2rem;
      padding: .1rem;
      margin: .1rem;
    }
    #big{
      width: 4.5rem;
      justify-content: center;
      align-items: center;
    }
    .input-element{
      margin: 0.1rem;
      width: 2.5rem;
      height: 3rem;
      font-size: 2.2rem;
      border: 1px solid white;
    }
    .wrapper{
      height: 12rem;
    }
    .Button{
      font-size: 0.6rem;
      line-height: 0.8rem;
      padding:  0.5rem 0.5rem;
    }
    .nav-option{
      display: none;
    }
  }