*{
    margin: 0;
    
  }
  .wordle-Container{
    text-align: center;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    width: 100%;
    height: 100vh;
    color: white;
   display: flex;
   flex-direction: column;
   padding-bottom: 18px;
  }
  
  .game-board{
    margin-top: 78px;
    align-self: center;
    position: relative;
  }
  .row{
    display: flex;
  }
  .input-element{
    margin: 3px;
    width: 3rem;
    height: 3.2rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .keyboard{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .line1{
    width: min-content;
    display: flex;
    flex-direction: row;
  }
  .line2{
    width: min-content;
    display: flex;
    flex-direction: row;
  }
  .line3{
    width: min-content;
    display: flex;
    flex-direction: row;
  }
  .keyboard-button{
    border: 1px solid white;
    width: 50px;
    font-size: 30px;
    padding: 2px;
    margin: 3px;
  }
  #big{
    width: 120px;
    justify-content: center;
    align-items: center;
  }
  #correct{
    background-color: green;
  }
  #close{
    background-color: rgb(162, 180, 2);
  }
  #error{
    background-color: rgb(114, 118, 114);
  }
  .result{
    margin-top: 20px;
  }
  #disabled{
    background-color: rgb(114, 118, 114);
  }
  .result{
    padding: 5px 15px;
    border-radius: 4%;
    background-color: rgb(249, 249, 249);
    color: blue;
    position: absolute;
    top: 410px;
  }
  .hide{
    display: none;
  }
  .toast-message{
    margin-top: 40px;
    background-color: rgb(15, 15, 109);
  }
  .wordle-nav{
    width: 600px;
   border-bottom: 1px solid rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
   margin: 0 auto;
  }
  .left-side .right-side>span{
    cursor: pointer;
  }
  /* .modal {
    font-size: 12px;
    width: 500px;
    height: 400px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
   */